<h1>New Vocabulary Entry</h1>

<%= form_with(model: [@vocabulary_note, @entry], url: vocabulary_entries_path, method: :post) do |form| %>
  <div>
    <%= form.label :word, 'Word' %>
    <%= form.text_field :word %>
  </div>

  <div>
    <%= form.label :meaning, 'Meaning' %>
    <%= form.text_area :meaning %>
  </div>

  <%= form.submit 'Create Entry' %>
<% end %>
