<!-- app/views/past_questions/show.html.erb -->
<div>
  <h1 id="question-text"><%= @past_question.question_text %></h1>

  <!-- 選択肢表示 -->
  <ul>
    <li><input type="radio" name="selected_option" value="A"> <%= @past_question.option_a %></li>
    <li><input type="radio" name="selected_option" value="B"> <%= @past_question.option_b %></li>
    <li><input type="radio" name="selected_option" value="C"> <%= @past_question.option_c %></li>
    <li><input type="radio" name="selected_option" value="D"> <%= @past_question.option_d %></li>
    <li><input type="radio" name="selected_option" value="E"> <%= @past_question.option_e %></li>
  </ul>

  <!-- 回答ボタン -->
  <button onclick="submitAnswer()">回答する</button>

  <!-- 結果表示 -->
  <div id="result"></div>

  <!-- 戻るボタン -->
  <%= link_to '戻る', past_questions_path %>
</div>

